{% extends 'base/base.html' %}

{% block title %} {{ title}} {% endblock %}

{% block content %}

    {% from "_macro.html" import render_field%}

<div class="card" style="margin-left: 20%; margin-right: 20%; margin-top: 5%;">
  <div class="card-body">
      <form name="sentMessage" id="contactForm" method="post">
          <div class="mb-3">
            {{ render_field(form.username, class='form-control')}}
          </div>
          <br>
          <div class="mb-3">
            {{ render_field(form.email, class='form-control')}}
          </div>
          <br>
          <div class="mb-3">
            {{ render_field(form.comment, class='form-control')}}
          </div>
            {{ render_field(form.honeypot, class='form-control')}} <!-- Campo honeypot del formulario con las validaciones propias -->
          <!--{{ form.honeypot }}  Campo honeypot del formulario con las validaciones propias -->

          <div class="row">
                    <div class="form-group col-xs-12">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
          </div>
      </form>
  </div>
</div>

{% endblock %}